EXTRAs/
TESTs/
__pycache__/
cpu_time_new2.data
header.svg
minimal_test.py
new_CPU_RAM_performance.pdf
performance_test.py
plot_CPU_performance.py
Beauty/
REF/
*.npz
*.png
!extras/logo.png
!docs/img/rough_contact_solver_scaling_v0.1.0.png
*.swp
dev/
docs/HELP.md
docs/HPC.md
src/reynoldsflow.egg-info/
dist/
build/
tests/test_solvers.result
/test_solvers.result
benchmarks/results/*.json
